---
sudo: false

language: python

cache:
  directories:
    - $HOME/.cache/pip
    - .tox

before_install:
  - openssl aes-256-cbc -K $encrypted_756f7484f8dc_key -iv $encrypted_756f7484f8dc_iv -in molecule/default/clouds.yml.enc -out molecule/default/clouds.yml -d

install:
  - pip install -r test-requirements.txt

env:
  - TOX_ENV=ansible24
  - TOX_ENV=ansible25

script:
  - tox -e $TOX_ENV

notifications:
  irc:
    channels:
      - "irc.freenode.org#osism"
    template:
      - "%{result} %{repository_slug}: %{commit_subject} %{build_url}"
    skip_join: true
