[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christian Berendt (berendt)
[access "refs/for/refs/*"]
	read = group user/Christian Berendt (berendt)
	push = group user/Christian Berendt (berendt)
	label-Code-Review = -2..+2 group user/Christian Berendt (berendt)
	label-Verified = -1..+1 group user/Christian Berendt (berendt)
	rebase = group user/Christian Berendt (berendt)
	removeReviewer = group user/Christian Berendt (berendt)
	submit = group user/Christian Berendt (berendt)
[access "refs/heads/*"]
	read = group user/Christian Berendt (berendt)
	create = group user/Christian Berendt (berendt)
	push = +force group user/Christian Berendt (berendt)
	pushMerge = group user/Christian Berendt (berendt)
[access "refs/tags/*"]
	push = group user/Christian Berendt (berendt)
	push = +force group user/Christian Berendt (berendt)
