{
    "debug": {{ docker_debug }},
    "experimental": {{ docker_experimental }},
    "hosts": [{% for host in docker_hosts %}"{{ host }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    "insecure-registries": [{% for registry in docker_insecure_registries %}"{{ registry }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    "ipv6": {{ docker_ipv6 }},
    "log-driver": "{{ docker_log_driver }}",
    "log-level": "{{ docker_log_level }}",
    "log-opts": {
{% for key, value in docker_log_opts|dictsort %}
      "{{ key }}": "{{ value }}"{% if not loop.last %}, {% endif %}

{% endfor %}
    },
    "registry-mirrors": [{% for mirror in docker_registry_mirrors %}"{{ mirror }}"{% if not loop.last %}, {% endif %}{% endfor %}],
    "storage-driver": "{{ docker_storage_driver }}"
}
